 html {
    font-size: 20px;
  }
body {
  font-family: "Arial", "Meiryo", sans-serif;
}
  h1 {
    font-family: Josefin Sans ;sans-serif
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    letter-spacing: 1.2em;
    text-shadow: 2px 2px 3px rgb(184, 182, 87);
    border-bottom: solid 3px black;
  }
  .skyblue {
    color: #87ceed;
  }
  .pink {
    color: rgb(255,192,203)
  }
  h2 {
    text-align: center;
  }
p {
    text-align: center;
}
#basic {
  font-weight: bold;
}